### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [24]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
num=len(purchase_data['SN'].unique())
total_players=pd.DataFrame({'Total Players':num},index=[0])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
item=len(purchase_data['Item ID'].unique())
avg_price=purchase_data['Price'].mean()
num_purchase=purchase_data['Purchase ID'].count()
total_rev=purchase_data['Price'].sum()
sum1=pd.DataFrame({'Number of Unique Items':item, 'Average Price':avg_price,'Number of Purchases':num_purchase, 'Total Revenue':total_rev},index=[0])
sum1

sum1.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
male=purchase_data[purchase_data['Gender']=='Male']
num1=len(male['SN'].unique())
fe=purchase_data[purchase_data['Gender']=='Female']
num2=len(female['SN'].unique())
non=purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']
num3=len(non['SN'].unique())

In [28]:
male=purchase_data[purchase_data['Gender']=='Male']
female=purchase_data[purchase_data['Gender']=='Female']
other=purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']
tol=len(purchase_data['SN'].unique())
male_per=num1/tol*100
female_per=num2/tol*100
o_per=num3/tol*100
gender_sum=pd.DataFrame({'Total Count':[num1,num2,num3],
                         'Percentage of Players':[male_per,female_per,o_per]},index=['Male','Female','Other'])
gender_sum['Percentage of Players']=gender_sum['Percentage of Players'].map('{:.2f}%'.format)
gender_sum

        Total Count Percentage of Players
Male            484                84.03%
Female           81                14.06%
Other            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
m=purchase_data.groupby(['Gender'])
avg_purchase=m['Price'].mean()
tot_purchase=m['Price'].sum()
male_each=tot_purchase['Male']/num1
female_each=tot_purchase['Female']/num2
other_each=tot_purchase['Other / Non-Disclosed']/num3
analysis=pd.DataFrame({'Purchase Count':[num1,num2,num3],
                       'Average Purchase Price':[avg_purchase[0],avg_purchase[1],avg_purchase[2]],
                       'Total Purchase Value':[tot_purchase[0],tot_purchase[1],tot_purchase[2]],
                       'Avg Total Purchase per Person':[male_each,female_each,other_each]},index=['Male','Female','Other'])
analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,484,3.203009,361.94,4.065372
Female,81,3.017853,1967.64,4.468395
Other,11,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
bins=[0,9,14,19,24,29,34,39,50]
ages=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Group']=pd.cut(purchase_data['Age'], bins, labels=ages)

In [31]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [32]:
agedemo=purchase_data.drop_duplicates(['SN'])
age_group=agedemo.groupby(['Age Group'])
age_group['SN'].count()

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [33]:
percentage=age_group['SN'].count() /len(purchase_data['SN'].value_counts())*100

In [34]:
agedemos=pd.DataFrame({'Total Count':age_group['SN'].count() ,
                      'Percentage of Players':percentage})
agedemos['Percentage of Players']=agedemos['Percentage of Players'].map('{:.2f}%'.format)
agedemos

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
age_purchase=purchase_data.groupby('Age Group')
age_purchase['Purchase ID'].count()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [36]:
avg_byage=round(age_purchase['Price'].mean(),2)
tot_byage=age_purchase['Price'].sum()
avgperperson=round(tot_byage/(age_group['SN'].count()),2)

In [42]:
age_analysis=pd.DataFrame({'Purchase Count':age_purchase['Purchase ID'].count(),
                       'Average Purchase Price':avg_byage,
                       'Total Purchase Value':tot_byage,
                       'Avg Total Purchase per Person':avgperperson})
age_analysis

age_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
a=purchase_data.groupby(['SN'])
topspend=pd.DataFrame(a['Purchase ID'].count())
topspend['Average Purchase Price']=a['Price'].mean()
topspend['Total Purchase Value']=a['Price'].sum()
topspend=topspend.rename(columns={"Purchase ID":"Purchase Count"})
topspend=topspend.sort_values(by='Total Purchase Value',ascending=False).head()
topspend
topspend.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
items=purchase_data[['Item ID','Item Name','Price',]].head()
items
=items.groupby(['Item ID','Item Name'])
items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [48]:
c=items.groupby(['Item ID','Item Name'])
d=pd.DataFrame(c['Item ID'].count())
d['Item Price']=c['Price'].mean()
d['Total Purchase Value']=c['Price'].sum()
d=d.rename(columns={'Item ID':'Purchase Count'})
d=d.sort_values('Purchase Count',ascending=False).head()
d

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,1,4.88,4.88
100,Blindscythe,1,3.27,3.27
108,"Extraction, Quickblade Of Trembling Hands",1,3.53,3.53
131,Fury,1,1.44,1.44
143,Frenzied Scimitar,1,1.56,1.56

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:

e=d.sort_values('Total Purchase Value',ascending=False).head()
e

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,1,4.88,4.88
108,"Extraction, Quickblade Of Trembling Hands",1,3.53,3.53
100,Blindscythe,1,3.27,3.27
143,Frenzied Scimitar,1,1.56,1.56
131,Fury,1,1.44,1.44